<!DOCTYPE html>
<html lang="en">
<head>

     <title>The Daily Sentiment</title>
<!--

Get Ready Template

https://templatemo.com/tm-521-get-ready

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/vegas.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">
     <link rel="icon" href="data:,">

</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>

          </div>
     </section>


     <!-- GRID LINE -->
     <!--
    <section class="grid">
         <div class="container">
            <div class="row">

              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>

            </div>
         </div>
    </section>
  -->

    <div class="menu-bg"></div>
    <div class="menu-burger">☰</div>

    <div class="menu-items">
       <div class="container">
         <div class="row">
           <div class="col-md-offset-2 col-md-4 col-sm-6">
            <h1>The Daily Sentiment</h1>
            <h2 style="color: lightblue">Bringing you the top post</h2>
             <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/method">Methodology</a></li>
                <li><a href="https://www.linkedin.com/in/alan-tsui/">Alan Tsui</a></li>
                <li><a href="https://www.linkedin.com/in/gary-kwong-ab1018173/">Gary Kwong</a></li>
                <li><a href="https://www.linkedin.com/in/evelyn-wu-a9ab4814a/">Evelyn Wu</a></li>
                <li><a href="https://www.linkedin.com/in/joy-chang-24664758/">Joy Chang</a></li>
            </ul>
           </div>

           <div class="col-md-4 col-sm-6">
             <address>
               <h1>Our Stadium</h1>
               <p>2227 Piedmont Ave, <br> Berkeley, CA 94720 </p>
               <div class="google-map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.5568988676437!2d-122.2529669848773!3d37.870657079742145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857c3085b6bb71%3A0x15470208dbfb10ec!2sCalifornia%20Memorial%20Stadium!5e0!3m2!1sen!2sus!4v1572084623780!5m2!1sen!2sus" allowfullscreen></iframe>
               </div>
             </address>
           </div>

           <div class="col-md-12 col-sm-12">
             <ul class="social-icon">
              <li class="line"></li>
               <li><a href="https://fb.com/" class="fa fa-facebook"></a></li>
               <li><a href="https://twitter.com" class="fa fa-twitter"></a></li>
               <li><a href="https://plus.google.com/" class="fa fa-google"></a></li>
               <li><a href="https://instagram.com/" class="fa fa-instagram"></a></li>
             </ul>
           </div>
         </div>
       </div>
    </div>


     <!-- HOME -->
     <section id="home">
        <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="home-info">
                           <!--
                           {% if exists ==  False %}
                           <h1 style="color:white">Subreddit was not found: Redirected Home</h1>

                           {%endif%}
                         -->
                           <a target=="_blank" href="{{link}}"><h1>{{headline}}</h1></a>
                           <br>
                           <div class="container2">
                             {% if sentiment > 0 %}
                               <h1 title="Subreddit's average emotional tone: Positive" style="color: green"> {{sentiment}} </h1>
                              {% elif sentiment < 0 %}
                                <h1 title="Subreddit's average emotional tone: Negative" style="color: red"> {{sentiment}} </h1>
                              {%else%}
                              <h1 title="Subreddit's average emotional value: Neutral" style="color:yellow"> {{sentiment}} </h1>
                              {% endif %}
                            </div>
                           <br>
                              <h1 style="font-weight:bold"> The Daily Sentiment </h1>
                              <h3> <a target="_blank" style="text-decoration: none; color: orange" href={{sub_link}} > Current subreddit: {{subreddit}} </a> </h3>
                              <div class="subscribe-form">
                                <form action"{{ url_for('.main') }}" method="post">
                                  <input type = "text" name = "subreddit" class="form-control" placeholder="Enter New Keywords" required="">
                                  <button type="submit" value="Submit" class="form-control"><i class="fa fa-reddit"></i></button>
                                </form>
                              </div>

                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- SCRIPTS -->
     <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
     <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <!-- <script src="{{ url_for('static', filename='js/vegas.min.js') }}"></script> -->
     <script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
     <script src="{{ url_for('static', filename='js/init.js') }}"></script>
     <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>
