<!DOCTYPE html>
<html lang="en">
<head>

     <title>The Daily Sentiment | Methodology</title>
<!--

Get Ready Template

https://templatemo.com/tm-521-get-ready

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/vegas.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">

</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>

          </div>
     </section>

    <div class="menu-bg"></div>
    <div class="menu-burger">☰</div>

    <div class="menu-items">
       <div class="container">
         <div class="row">
           <div class="col-md-offset-2 col-md-4 col-sm-6">
            <h1>The Daily Sentiment</h1>
             <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/method">Methodology</a></li>
                <li><a href="https://www.linkedin.com/in/alan-tsui/">Alan Tsui</a></li>
                <li><a href="https://www.linkedin.com/in/gary-kwong-ab1018173/">Gary Kwong</a></li>
                <li><a href="https://www.linkedin.com/in/evelyn-wu-a9ab4814a/">Evelyn Wu</a></li>
                <li><a href="https://www.linkedin.com/in/joy-chang-24664758/">Joy Chang</a></li>
            </ul>
           </div>

           <div class="col-md-4 col-sm-6">
             <address>
               <h1>Our Stadium</h1>
               <p>2227 Piedmont Ave, <br> Berkeley, CA 94720 </p>
               <div class="google-map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.5568988676437!2d-122.2529669848773!3d37.870657079742145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857c3085b6bb71%3A0x15470208dbfb10ec!2sCalifornia%20Memorial%20Stadium!5e0!3m2!1sen!2sus!4v1572084623780!5m2!1sen!2sus" allowfullscreen></iframe>
               </div>
             </address>
           </div>

           <div class="col-md-12 col-sm-12">
             <ul class="social-icon">
              <li class="line"></li>
               <li><a href="https://fb.com/" class="fa fa-facebook"></a></li>
               <li><a href="https://twitter.com" class="fa fa-twitter"></a></li>
               <li><a href="https://plus.google.com/" class="fa fa-google"></a></li>
               <li><a href="https://instagram.com/" class="fa fa-instagram"></a></li>
             </ul>
           </div>
         </div>
       </div>
    </div>


     <!-- HOME -->
     <section id="home">
        <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="home-info">
                              <h1 style="text-style:bold"> The Daily Sentiment </h1>
                              <h2 style="color: white">Initial Idea</h2>
                              <p style ="text-align:ceter; color: white">
                                  Our initial idea was to gather headlines from different news sources
                                  and to display the keywords of each one. That idea was then morphed
                                  into gathering a series of headlines from the WorldNews subreddit. Although this
                                  seemingly lacks in features, we were able to extend that idea to include other public subreddits.
                                  We were eventually able to assemble the top ten most recent upvoted posts of any given subreddits.
                                </p>
                                <h2 style="color:white"> Methodology </h2>
                                <p style="text-align:center; color:white">
                                  With the gathered data, we then utilized Google Cloud's Natural Language API to
                                  determine the sentimental score and magnitude of each given article. The score indicates the
                                  "emotion" level of the entire headline, positive values being indicative of
                                  more positive emotions while negative values are indicative of negative emotions. This score is then
                                  displayed with a short explanation.
                                </p>
                                  <h2 style="color:white"> Significance </h2>
                                  <p style="text-align:center; color:white">
                                    This algorithm, despite its simplicity, reveals a lot of information; from displaying the top headline of any given genre of the day to
                                    revealing the nature within such genre. Thus, by extension the everyone that partakes in said thread.
                                    To identify and then impose a "sentimental" and "emotional" score to each individual group, we are able to demonstrate
                                    how people act differently in different subreddits.

                                    While political subreddit(s) and some news subreddit are predictably more negative regarding the "sentimental score". In addition,
                                    it is shown that subreddits that encourage critical thinking tends to be more positive on the same scale.
                                    For example subreddits such as WritingPrompts scores highly compared to others. Furthermore while running through further iterations with
                                    different subreddits we also find that some threads fluctuate quite a bit.

                                    Perhaps such emotional tests offer us an alternative perspective to life that is previously ignored.
                                  </p>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- SCRIPTS -->
     <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
     <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <!-- <script src="{{ url_for('static', filename='js/vegas.min.js') }}"></script> -->
     <script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
     <script src="{{ url_for('static', filename='js/init.js') }}"></script>
     <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>
